.user-cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 18px;
  animation: slideButton ease-out 2s;
}
.style-card {
  width: 900px;
}
.style-content {
  display: flex;
  flex-direction: column;
}
.style-header-wrapper {
  display: flex;
}
.style-header-wrapper>i {
  margin-left: auto;
  font-size: 24px;
  cursor: pointer;
}
.style-div-image {
  height: 200px;
}
.style-image {
  height: 100%;
}
.style-button-wrapper{
  align-self: end;
}
.style-buttons {
  display: flex;
  flex-direction: row-reverse;

}
.style-button{
  margin: 12px;
  color: white;
  background-color: darkgrey;

}
.favorite {
background-color: #c06d64;
color: white;
margin: 12px;
}
.favorite:hover {
  background:  #c35e53;
  color: aliceblue;
  border-radius: 5px;
  box-shadow: 0 0 2px #c35e53,
              0 0 5px #c35e53,
              0 0 10px #c35e53,
              0 0 20px #c35e53;
}
.style-button:hover {
  background: #808080;
  color: aliceblue;
  border-radius: 5px;
  box-shadow: 0 0 2px #696969,
              0 0 5px #696969,
              0 0 10px #696969,
              0 0 20px #696969;
}